@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row mt-5">
    <div class="col-md text-center">
        <h1>Detalle de Radicado</h1>
    </div>
</div>
<hr />
@if (ViewBag.Interno != null)
{
    <div class="row">
        <div class="col-md">
            <label>Numero de Radicado</label>
            <input type="text" class="form-control" value="@ViewBag.Interno.NumeroRadicado" readonly />
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <label>Asunto</label>
            <input type="text" class="form-control" value="@ViewBag.Interno.Asunto" readonly />
        </div>
        <div class="col-md">
            <label>Correo Electronico Remitente</label>
            <input type="text" class="form-control" value="@ViewBag.Interno.EmailRemitente" readonly />
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <label>Documento Adjunto</label>
            <a download="@ViewBag.Interno.Adjunto" href="~/CargueArchivos/@ViewBag.Interno.Adjunto" class="btn btn-info form-control">Descargar Archivo Adjunto</a>
        </div>
        <div class="col-md">
            <label>Estado</label>
            <input type="text" class="form-control" value="@ViewBag.Interno.DescripcionEstado" readonly />
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md">
            <label>Numero de Radicado</label>
            <input type="text" class="form-control" value="@ViewBag.Externo.NumeroRadicado" readonly />
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <label>Asunto</label>
            <input type="text" class="form-control" value="@ViewBag.Externo.Asunto" readonly />
        </div>
        <div class="col-md">
            <label>Correo Electronico Remitente</label>
            <input type="text" class="form-control" value="@ViewBag.Externo.EmailRemitente" readonly />
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <label>Documento Adjunto</label>
            <a download="@ViewBag.Externo.Adjunto" href="~/CargueArchivos/@ViewBag.Externo.Adjunto" class="btn btn-info form-control">Descargar Archivo Adjunto</a>
        </div>
        <div class="col-md">
            <label>Estado</label>
            <input type="text" class="form-control" value="@ViewBag.Externo.DescripcionEstado" readonly />
        </div>
    </div>
}
@if (ViewBag.Rol != "2")
{
    <form asp-controller="Home" asp-action="Detalle" method="post">
        <div class="row">
            @if (ViewBag.Externo != null)
            {
                <input type="hidden" name="Radicado" value="@ViewBag.Externo.NumeroRadicado" />
            }
            else
            {
                <input type="hidden" name="Radicado" value="@ViewBag.Interno.NumeroRadicado" />
            }
            <div class="col-md">
                <label>Asignar a:</label>
                <select name="Usuario" class="form-control" required>
                    <option>Seleccione</option>
                    @foreach (var item in ViewBag.Usuarios)
                    {
                        <option value="@item.UsuarioId">@item.Nombre</option>
                    }
                </select>
            </div>
            <div class="col-md">
                <label>Estado</label>
                <select name="Estado" class="form-control" required>
                    <option>Seleccione</option>
                    @foreach (var item in ViewBag.Estados)
                    {
                        <option value="@item.EstadoId">@item.Descripcion</option>
                    }
                </select>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md ">
                @if (ViewBag.Externo != null)
                {
                    @if (ViewBag.Externo.Estado == 3)
                    {
                        <input type="submit" class="btn btn-info form-control" value="Escalar" disabled />
                    }
                    else
                    {
                        <input type="submit" class="btn btn-info form-control" value="Escalar" />
                    }

                }
                else
                {
                    @if (ViewBag.Interno.Estado == 3)
                    {
                        <input type="submit" class="btn btn-info form-control" value="Escalar" disabled />
                    }
                    else
                    {
                        <input type="submit" class="btn btn-info form-control" value="Escalar" />
                    }
                }
            </div>
        </div>
    </form>
}


<hr />
<h3>Historial</h3>
<div class="row">
    <div class="col-md">
        <table class="table table-striped table-bordered table-hover" id="tableRadicados">
            <thead>
                <tr>
                    <th class="text-center">Numero Radicado</th>
                    <th class="text-center">Usuario</th>
                    <th class="text-center">Estado</th>
                    <th class="text-center">Fecha</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.Historial)
                {
                    <tr>
                        <td class="text-center">
                            @item.NumeroRadicado
                        </td>
                        <td class="text-center">
                            @item.NombreUsuario
                        </td>
                        <td class="text-center">
                            @item.DescripcionEstado
                        </td>
                        <td class="text-center" data-order="@Convert.ToDateTime(item.FechaCreacion).Ticks">
                            @item.FechaCreacion
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#tableRadicados').DataTable({
            //"scrollX": true
        });
    });
</script>